
body{
    background: #202020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

label{
    display: block;
}

input, select {
    width: 100%;
}

span{
    display: block;
    color: tomato;
    font-size: x-small;
}